<div class="jumbotron">

    <h4>{{app}}</h4>
    <br>

    <ui-alert ng-show="message"
             title="Ops,aconteceu um problema!"
             message="message"></ui-alert>

    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você busca?">
    <table ng-show="contatos.length > 0" class="table">
        <tr>
            <th></th>
            <th>Serial</th>
            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
            <th>Operadora</th>
            <th>Data</th>
            <th></th>
        </tr>
        <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: criterioDeBusca} | orderBy: criterioDeOrdenacao : direcaoDaOrdenacao">
            <td><input type="checkbox" ng-model="contato.selecionado"/></td>
            <td>{{contato.serial}}</td>
            <td><a href="#/detalhesContato/{{contato.id}}">{{contato.nome | name | ellipsis }}</a></td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome}}</td>
            <td>{{contato.data | date:'dd/mm/yyyy'}}</td>
            <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
        </tr>
    </table>
    <hr/>

    <a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato</a>

    <ui-accordions>
      <ui-accordion title="Criado por Denis Scapin">
        Projeto criado por Denis Scapin para explorar os
        recursos do AngularJS com bootstrap. <br>
        O Código está disponível no GIT: <br>
        <b>https://github.com/denisscapinrecalde/ListaTelefonica</b>
      </ui-accordion>
      <ui-accordion title="Sobre o projeto">
        Nesse projeto podemos ver os principais recursos
        do AngularJS, como, diretivas, filters, services,
        factories, configs, values, acesso ao backend com
        REST e JSON entre outras coisas
      </ui-accordion>
    </ui-accordions>

</div>
